.app {
  font-family: "Times New Roman", Times, serif;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
}

.sideBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.centerBox {
  margin: 0 auto;
}

.leftSideBox {
  width: 150px;
  height: 200px;
  margin: 20px;
  float: left;
}

.rightSideBox {
  width: 150px;
  height: 200px;
  margin: 20px;
  float: right;
}
